@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: 'Lato', sans-serif;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}
/* 
blockquote.twitter-tweet p{
    display: inline-block;
    font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
    font-size: 24px;
    font-weight: bold;
    line-height: 16px;
    border-color: #eee #ddd #bbb;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    margin: 10px 5px;
    padding: 0 16px 16px 16px;
    max-width: 468px;
  }
 */

.twitter-tweet {
    margin: auto;
}

/* flex flex-col  justify-center items-center rounded-lg outline shadow-lg gap-3 mb-4 p-4'  */


.card {
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: var(--rounded-box, 1rem);
}
.card:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
}
.card figure {
    display: flex;
    align-items: center;
    justify-content: center;
}
.card.image-full {
    display: grid;
}
.card.image-full:before {
    position: relative;
    content: "";
    z-index: 10;
    --tw-bg-opacity: 1;
    background-color: hsl(var(--n) / var(--tw-bg-opacity));
    opacity: 0.75;
    border-radius: var(--rounded-box, 1rem);
}
.card.image-full:before,
    .card.image-full > * {
    grid-column-start: 1;
    grid-row-start: 1;
}
.card.image-full:before,
    .card.image-full > * {
    grid-column-start: 1;
    grid-row-start: 1;
}
.card.image-full > figure img {
    height: 100%;
    object-fit: cover;
}
.card.image-full > .card-body {
    position: relative;
    z-index: 20;
    --tw-text-opacity: 1;
    color: hsl(var(--nc) / var(--tw-text-opacity));
}
.card :where(figure:first-child) {
    overflow: hidden;
    border-start-start-radius: inherit;
    border-start-end-radius: inherit;
    border-end-start-radius: unset;
    border-end-end-radius: unset;
}
.card :where(figure:last-child) {
    overflow: hidden;
    border-start-start-radius: unset;
    border-start-end-radius: unset;
    border-end-start-radius: inherit;
    border-end-end-radius: inherit;
}
.card:focus-visible {
    outline: 2px solid currentColor;
    outline-offset: 2px;
}
.card.bordered {
    border-width: 1px;
    --tw-border-opacity: 1;
    border-color: hsl(var(--b2, var(--b1)) / var(--tw-border-opacity));
}
.card.compact .card-body {
    padding: 1rem/* 16px */;
    font-size: 0.875rem/* 14px */;
    line-height: 1.25rem/* 20px */;
}
.card.image-full :where(figure) {
    overflow: hidden;
    border-radius: inherit;
}