@tailwind base;

@layer base {
    h1 {
        @apply text-3xl;
    }

    h2 {
        @apply text-2xl;
    }

    h3 {
        @apply text-xl;
    }

    h4 {
        @apply text-lg;
    }

    ul {
        @apply block list-disc mx-4 my-1
    }

    ul ul {
        list-style-type: circle
    }

    ul ul ul {
        list-style-type: square
    }

    ol {
        @apply block list-decimal mx-4 my-1
    }

    ol ol {
        list-style-type: lower-alpha
    }

    ol ol ol {
        list-style-type: lower-roman
    }

    li {
        @apply list-item mx-2
    }

    body {
        @apply block m-2
    }
}

@tailwind components;
@tailwind utilities;

body {
    font-family: 'Lato', sans-serif;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}


.portableText>p:empty:before {
    /* Make <p> with no content becomes a line break */
    content: "\00a0"; /*00a0 stands for non-breaking space, can be anything actually? (just not '')*/
    white-space: pre;
}

/* 
blockquote.twitter-tweet p{
    display: inline-block;
    font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
    font-size: 24px;
    font-weight: bold;
    line-height: 16px;
    border-color: #eee #ddd #bbb;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    margin: 10px 5px;
    padding: 0 16px 16px 16px;
    max-width: 468px;
  }
 */

.twitter-tweet {
    margin: auto;
}

/* flex flex-col  justify-center items-center rounded-lg outline shadow-lg gap-3 mb-4 p-4'  */